*{
	margin:  0; 
	padding: 0;
	font-size:18px;
	background-color: #E0E0E0;
}
body{
	min-height: 100%;
	overflow-x: hidden;
}

/* #cabecalho{
	/* height: 100px; */
	/* background-color: #0A38F5; */
	/* display: flex;
	flex: 1; */
	/* flex-direction: row;
	justify-content: space-between;
} */

#titulo {
	color: blue;
	display: flex;
	font-size: 3.5em;
}
#carrinho{
	width: 50px;
	height: 50px;
	
    /* position: absolute;
	left: 1280px;
	top: 15px; */
}
#pesquisa{
	display:flex;
}
#copyright{
	border: solid 1px;
	width: 100%;
	text-align: center;
	border-color:blue;
	background-image: linear-gradient(to right, lightblue , blue) !important;
}

#main{
	/* position:relative; */
	padding:20px;
}

.card{
	background-image: white; 
	margin: 20px;
}
.card-group{
	margin: 50px;
}
img{
	margin: auto;
	width: 350px;
	height: 350px;
}
h5,p{
	text-align: center;
}

.fa-1x {
	font-size: 1.5rem;
	}
	.navbar-toggler.toggler-example {
	cursor: pointer;
	}
	.dark-blue-text {
	color: #0A38F5;
	}
	.dark-pink-text {
	color: #AC003A;
	}
	.dark-amber-text {
	color: #ff6f00;
	}
	.dark-teal-text {
	color: #004d40;
	}