*{
	margin:  0; 
	padding: 0;
	font-size:18px;
}

body, html{
	height: 100%;
	min-height: 100%;
	overflow-x: hidden;
	background-color: #F0F0F0 !important;
}

#carrinho{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 93%;
	background-color:rgba(0,0,0,0.0);
}
#pesquisa{
	display:flex;
}
#copyright{
	position:absolute;
    bottom:0;
	border: 1px solid;
	border-color: rgba(0,0,0,0.0);
	width: 100%;
	text-align: center;
	background-image: linear-gradient(to right, lightgrey , grey, lightgrey) !important;
}

.navbar{
	background-color:rgba(0,0,0,0.0);
}

#main{
	/* position:relative; */
	padding:20px;
}

.card{
	 width: 49.5% !important;
}
.card-columns{
	display: inline-block !important;
	column-break-inside: avoid !important;
}
img{
	margin: auto;
	width: 240px;
	height: 250px;
}
h5,p{
	text-align: center;
}

#titulo {
	background-color:rgba(0,0,0,0.0);
	display: inline-flex;
}
#cabecalho{
	width: 100%;
	display: flex;
	border: 1px solid;
	border-color: rgba(0,0,0,0.0);
	background-image: linear-gradient(to right, lightgrey , grey, lightgrey) !important;
}

#login{
	text-align: center;
	margin: 0;
}

.form-group{
	margin-left: 4.5%;
	width: 90% !important;
	clear: both;
}

#logar{
	position: relative;
	left: 90%;
}

a{
	color: #080808 !important;
}

