*{
	margin:  0; 
	padding: 0;
	font-size:18px;
}

body, html{
	height: 100%;
	min-height: 100%;
	overflow-x: hidden;
	background-color: #F0F0F0 !important;
}

#carrinho{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 93%;
	top:5px;
	background-color:rgba(0,0,0,0.0);
}
#pesquisa{
	display:flex;
	margin-bottom: 1px;
}
#copyright{
background-image: linear-gradient(to right, CornflowerBlue, CornflowerBlue ) !important;
}

.navbar{
	background-color:rgba(0,0,0,0.0);
}

#main{
	padding:20px;
}

.card{
	 width: 49.5% !important;
}
.card-columns{
	display: inline-block !important;
}
img{
	width: 240px;
	height: 250px;
}
h5,p{
	text-align: center;
}

#titulo {
	position: relative;
	top: 5px;
	background-color:rgba(0,0,0,0.0);
	display: inline-flex;
	text-align: center !important;
}
#cabecalho{
	display: flex;
	background-image: linear-gradient(to right, CornflowerBlue  , CornflowerBlue ) !important;

}

#login{
	text-align: center;
	margin: 0;
}

.form-group{
	margin-left: 4.5%;
	width: 90% !important;
	clear: both;
}

#logar{
	position: relative;
	left: 90%;
}

a{
	color: #080808 !important;
}