.main{
	display: flex;
	flex:1;
	flex-direction: column;
	justify-content: space-between;
}
*{
	margin:  0; 
	padding: 0;
	font-size:18px;
}

body, html{
	height: 100%;
	min-height: 100%;
	overflow-x: hidde   n;
	background-color: #F0F0F0 !important;
}

